<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheet.css">
    <title></title>
  </head>
  <body>
    <h1 style="font-family:Monospace">Student Performance Analyzer</h1>

    <form class="" action="{% url 'result' %}" align="center">

      <p>1. Age (Range 15 - 22)</p>
      <input type="text" name="age" value="">

      <p>2. Mother's Education</p>
      <input type="text" name="medu" value="">

      <p>3. Father's Education</p>
      <input type="text" name="fedu" value="">

      <p>4. Travel time from home to school</p>
      <input type="text" name="travelTime" value="">

      <p>5. study time?</p>
      <input type="text" name="studyTime" value="">

      <p>6. Failures</p>
      <input type="text" name="failures" value="">

      <p>7. Family Relation</p>
      <input type="text" name="familyRel" value="">

      <p>8. Freetime</p>
      <input type="text" name="freetime" value="">

      <p>9. How often do you go out</p>
      <input type="text" name="goOut" value="">

      <p>10. Workday alcohol consumption</p>
      <input type="text" name="workdayALC" value="">

      <p>11. Weekend alcohol consumption</p>
      <input type="text" name="weekendALC" value="">

      <p>12. Current health status</p>
      <input type="text" name="health" value="">

      <p>13. Number of absents</p>
      <input type="text" name="absent" value="">

      <p>14. First period grade</p>
      <input type="text" name="g1" value="">

      <p>15. Second period grade</p>
      <input type="text" name="g2" value="">

      <p>16. Gender?</p>
      <input type="text" name="gender" value="">

      <p>17. Address</p>
      <input type="text" name="address" value="">

      <p>18. Parental status</p>
      <input type="text" name="pstatus" value="">

      <p>19. Mother's Job</p>
      <input type="text" name="mjob" value="">

      <p>20. Father's Job</p>
      <input type="text" name="fjob" value="">

      <p>21. Reason to choose school</p>
      <input type="text" name="reason" value="">

      <p>22. Guardian</p>
      <input type="text" name="guardian" value="">

      <p>23. Does your school have extra educational support?</p>
      <input type="text" name="schoolSupport" value="">

      <p>24. Does your family provide educational support?</p>
      <input type="text" name="familySupport" value="">

      <p>25. Extra paid classes within course subject?</p>
      <input type="text" name="paidClass" value="">

      <p>26. Extracuricular activities?</p>
      <input type="text" name="activities" value="">

      <p>27. Did you attend nursery schoo?</p>
      <input type="text" name="nursery" value="">

      <p>28. Wants to take higher education?</p>
      <input type="text" name="higherEdu" value="">

      <p>29. Do you internet access at home?</p>
      <input type="text" name="internet" value="">

      <p>30. Are you in a romantic relationship?</p>
      <input type="text" name="romantic" value="">

      <p>31. School?</p>
      <input type="text" name="school" value="">

      <p>32. Family size</p>
      <input type="text" name="fams" value="">

      <br>
      <br>

      <input type="submit" name="Submit" value="Submit">

      <br>
      <br>


    </form>



  </body>
</html>
